# file types
*.test
*.prof
*.db
*.DS_Store

# Binaries for programs and plugins
*.exe
*.bin
*.app
*.app.zip
*.exe~
*.dll
*.so
*.o
*.a
*.dylib

# folders
vendor
node_modules
tmp

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
info.log
error.log
general.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
go.mod 
go.sum

# backup and log files
logs/*
